@font-face {
    font-family: neu;
    src: url(NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:neu;
}
html , body {
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    z-index: 10;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3; 
    padding: 0 2vw;
}
nav{
    padding: 2vw 2vw;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vh;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
#nav-part2 a{
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: #fff;
}
nav h3{
    display: none;
}
#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw ;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;  
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}
#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}
#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    
    
    right: 0;
    top: 65vh;

}
#hero-1{
    width: 100%;
    height: 100%;
    border-top-left-radius: 50% ;
    border-bottom-left-radius: 50% ;
    background-color: #fe320a;
    filter: blur(10px);
    position: absolute;
}
#hero-2{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe320a,#fe570a);
    filter: blur(25px);
    position: absolute;
    animation-name:anime2 ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}
#hero-3{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(#fe320a,#fe570a);
    filter: blur(20px);
    position: absolute;
    animation-name:anime1 ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}
@keyframes anime1 {
    from{
        transform: translate(55% , -3%);
    }
    to{
        transform: translate(0% , 10%);
    }
}
@keyframes anime2 {
    from{
        transform: translate(5% , -5%);
    }
    to{
        transform: translate(-20% , 30%);
    }
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}
#moving-text{
    white-space: nowrap;
    overflow: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
#gola{
    height: 70px;
    width: 70px;
    background-color: #fe320a;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translate(0);
    }    
    to{
        transform: translate(-100%);
    }
}
#page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}
#bottom-part2{
    width: 20%;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    position: absolute;
    font-size: 1vw;
}
#page2 #gooey{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background:linear-gradient(to top right,#fe320a , #fe570a) ;
    /* background: #000; */
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    animation-timing-function: ease-in-out; 
}
@keyframes gooey {
    from{
        transform: translate(10% , -10%) skew(0) ;
    }
    to{
        transform: translate(-10% , 10%) skew(-12deg) ;
    }
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
.elem{
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #38383864;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}
.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 29vw;
    width: 23vw;
    /* background-color: blueviolet; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none ;
    background-size: cover;
    background-position: center;
}
#page4{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}


/* swiperJS ------------------------------------------------------------*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide p{
    font-weight: 100;
    font-size: 14px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-left: 1px solid rgb(73, 71, 71);
    text-align: left;
    justify-content: flex-end;
    padding-left: 1.5vw;
    font-size: 1.5vw;
  }
  .swiper-slide img{
    width: 90px;
    height:90px;
  }

  .swiper-slide:nth-child(1n) {
    width: 30%;
  }

  .swiper-slide:nth-child(2n) {
    width: 30%;
  }

  .swiper-slide:nth-child(3n) {
    width: 30%;
  }

  .swiper-slide:nth-child(4n) {
    width: 30%;
  }

  .swiper-slide:nth-child(5n) {
    width: 30%;
  }

  .swiper-slide:nth-child(6n) {
    width: 30%;
  }

  .swiper-slide:nth-child(7n) {
    width: 30%;
  }
/* ---------------------------------------------------------------------- */


#page5{
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}
#footer{
    position: fixed;
    height: 105vh;
    width: 100%;
    z-index: 9;
    bottom: 0;
    background-color: black;
    color: #fff;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    justify-content: flex-end;
    padding: 1vw 3vw;
}
#footer , h1{
    font-size: 23vw;
    text-align: center;
}
#footer-div{
    height: 20vh;
    width: 100%;
    /* background-color: #fe320a; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}
#footer-div #text1{
    font-size: 2vw;
    align-items: center;
    color: #dadada;
    text-align: left;
}
#footer #text2 {
    font-size: 2vw;
}
#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.4s;
}
