@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: inktrap;
    src: url(fonts/659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.ttf);
}

:root{
    --salmon: #ef9071;
    --black:  #000;
    --white:  #fff;
    --cyan:   #80becc;
    --dsalmon: #532521;
    --dcyan:   #1f2f32;
}

body{
    transition: background-color ease-out .5s;
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
    background-color: salmon;
}

body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}

body[theme="cyan"]{
    background-color: var(--cyan);
}
body[theme="cyan"] .section{
    color: var(--dcyan);
}

body[theme="salmon"]{
    background-color: var(--salmon);
}
body[theme="salmon"] .section{
    color: var(--dsalmon);
}

body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}